# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
env/
venv/
.venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.bak

# Distribution / packaging
build/
dist/
*.egg-info/

# Secrets / config
.env
*.key
*.pem
config.json
